.header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 #f0f0f0;
  
  &__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #111;
    transition: color .3s;
    
    &:hover {
      color: #dcb14a;
    }
    
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}