@import "minireset";

@import "node_modules/swiper/swiper";

@import "components/product-card";
@import "components/product";
@import "components/header";
@import "components/404";

html {
  font-family: Roboto, sans-serif;
}

body {
  padding-top: 90px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  font-weight: 600;
}

.home-slider {
  &__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f5f7;
    height: calc(100vh - 90px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
  }
  
  &__title {
    font-size: 60px;
    line-height: 1.1;
    color: #111;
    margin-bottom: 30px;
  }
  
  &__subtitle {
    font-size: 16px;
    line-height: 28px;
    display: inline-block;
    max-width: 550px;
    margin: 0 auto 60px;
  }
  
  &__action {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #111;
    transition: color .3s;

    &:hover {
      color: #dcb14a;
    }
  }
}

.lang-switcher {
  &__btn {
    padding: 12px 15px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: #111;
    
    
    &.active {
      background-color: rgba(0,0,0,0.1);
      
      cursor: default;
    }
    
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  padding: 120px 12px;
}